.login {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
         width: 300px;
         height: 40px;
         margin: 10px;
         outline: 0;
      }

      button {
         width: 300px;
         height: 40px;
         border: none;
         background-color: purple;
         color: white;
         font-weight: bold;
         cursor: pointer;
      }

      span {
         font-size: 14px;
         color: red;
         margin-top: 10px;
      }
   }
}
